* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron {
  height: 300px;
  background-image: url("../assets/images/jumbotron.jpg");
  background-size: cover;
}

.rowSeries {
  background-color: black;
  color: white;
  padding: 30px 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.container {
  position: relative;
  text-align: center;
}
.container h2 {
  width: 20%;
  background-color: #0282f9;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 5px;
  position: absolute;
  top: -50px;
}
.container button {
  background-color: #0282f9;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 5px 25px;
}

.container_products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: calc(16.6666666667% - 20px);
  margin: 20px 10px;
  text-transform: uppercase;
  text-align: left;
}
.product .box_image {
  width: 100%;
  height: 10rem;
  margin-bottom: 10px;
}
.product .box_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.product h6 {
  font-weight: 400;
}